body{

}

h1{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}


h3{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

h5{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

h6{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}

p{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  color: #000;
}

a{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  color: #000;
}





.jumbotron {
background-color: wheat;
border-color: red;  
}

.well {
  background-color: wheat;
  border-color: red;  
  }

.panel-primary .panel-heading{
    background-color: tomato;
    border-color: red;
    }
  


.panel {
  background-color: wheat;
  border-color: red;  
  }

.hero {
  position: relative;
  height: 2000px;
  padding:20px;
  margin: 0;
  background: black;
  background-image: url("BB_Diversity.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

/* From bootstrap.css */
.form-group {
  margin-bottom: 15px;
}
